.App {
  text-align: center;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fbackgrounds%2Fevents%2Fparty&psig=AOvVaw0XNtMBMTJBp0R7up5Gk3FK&ust=1604591359418000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjo2uKe6ewCFQAAAAAdAAAAABAD");
  min-width: 100%;
  min-height: 100%;
  background-size: 100%;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
