/*body
{
    font-family: sans-serif;
    color: #3c3939;
    background-color: #f1f1f1;
}
.profile-card
{
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.image-container
{
    position: relative;
}
.info
{
    color: #4b4fe2;
    margin-right: 16px;
}
.main-container
{
    padding: 20px;
}
.profile-card a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.profile-card a:hover
{
    color: #ffc107;
}*/