@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --font-light: #808080;
  --primary-color:rgb(132, 134, 243);
}
/*body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0;
}*/
.container1 {
  width: 80%;
  margin: 0 auto;
}
.book {
    padding: 0;
    margin-top: 50px;
    box-shadow: 0px 5px 13px -3px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
}
.description , .form1{
    width: 40%;
    padding: 5%;
}
.description h1 {
    text-transform: uppercase;
    color: var(--font-light);
    font-weight: 400;
    margin-top: 0;
}
.description strong{
  font-weight: 700;
  color: #000;
}
.form1 strong{
  font-weight: bolder;
  color: #000;
  font-size: xx-large;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.description p {
    color: var(--font-light);
    font-size: 14px;
    line-height: 22px;
}
.quote p {
    font-style: italic;
    padding: 2%;
    border-left: 4px solid var(--primary-color);
}
.description ul {
    padding-left: 16px;
    list-style: circle;
}
.description ul li{
    margin: 10px 0;
}
.form1{
  width : 60%;
  background: var(--primary-color);
}
.form1 form{
  color: var(--font-light);
    display: flex;
  flex-wrap: wrap;
}
.inpbox.full {
    width: 100%;
    background: #fff;
    padding: 3%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.inpbox span::before {
    margin-left: 0;
}
.inpbox span {
    padding-right: 10px;
    border-right: 2px solid var(--font-light);
}
.form1 select{
    border: 0;
    width: 90%;
    color: var(--font-light);
}
form input {
    border: 0;
    width: 74%;
    color: var(--font-light);
    padding: 0 4%;
}
.form1 select:focus, form input {
  outline: none;
}
.inpbox {
    height: 40px;
    width: 48%;
    background: #fff;
    padding: 3%;
    margin-bottom: 20px;
    margin-right: 2%;
}
.inrbox{
  width: 33%;
  color: #000;
}
.inrbox span{
  padding-right: 10px;
}
.inrbox span {
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
}
.form1 input[type="radio"] {
    width: unset;
}
button.subt, button.rst{
  padding: 2% 3%;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
}
button.subt {
    margin-right: 3%;
    background: #000;
    color: #fff;
}
button.rst {
    background: #000;
    color: #fff;
}
.form1 button:hover
{
    color: #ffc107;
}

.row1{
  background: rgb(243, 217, 132);
  border-radius: 25px;
  max-width: 100%;
  display: flex;
}

.tm-col1{
  background-color: rgb(250, 212, 89);
  display: flex;
  justify-content: center;
  width: 33.33%;
  margin: 0;
  float: left;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top: rgba(0,0,0,0.75) solid;
  border-bottom: rgba(0,0,0,0.75) solid;
  border-left: rgba(0,0,0,0.75) solid;
}


.tm-col2{
  background-color: rgb(250, 212, 89);
  display: flex;
  justify-content: center;
  width: 33.33%;
  margin: 0 ;
  float: left;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
  border-top: rgba(0,0,0,0.75) solid;
  border-bottom: rgba(0,0,0,0.75) solid;
}


.tm-col3{
  background-color: rgb(250, 212, 89);
  display: flex;
  justify-content: center;
  width: 33.33%;
  margin: 0 ;
  float: left;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: rgba(0,0,0,0.75) solid;
  border-bottom: rgba(0,0,0,0.75) solid;
  border-right: rgba(0,0,0,0.75) solid;
}



.tm-col1::after{
  content: " ";
  clear: both;
  display: block;
  visibility: none;
}


.tm-col2::after{
  content: " ";
  clear: both;
  display: block;
  visibility: none;
}


.tm-col3::after{
  content: " ";
  clear: both;
  display: block;
  visibility: none;
}

.tm-proh{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tm-cardcon{
  background-color:  rgb(250, 212, 89);
  /*border : black solid;*/
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.thm .column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.thm .row {margin: 0 -5px;}

/* Clear floats after the columns */
.thm .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .thm .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.thm .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.row12{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  
}

.row12 {
  box-sizing: border-box;
}

.column11{
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  padding-left: 220px;
}

.column12 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card12 {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container12 {
  padding: 0 16px;
  text-align: center;
}

.container12::after, .row12::after {
  content: "";
  clear: both;
  display: table;
}

.title12 {
  color: grey;
}

.button12{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button12:hover{
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column12 {
    width: 100%;
    display: block;
  }
}

.wfont{
  color : white; 
}
